table {
    border-collapse: collapse;
    width: 100%;
}

td .mutationGroup{
    text-align: left;
    /* font-family: Monaco, monospace; */
}
.pos {
    border-left: none;
    border-right: none;
    border-top: 1px solid black;
    font-size: 15px;
    vertical-align: bottom;
    padding: 0;
    text-align: left;
    padding-bottom: 5px;
    font-weight: bold;
}

.mutationGroup {
    vertical-align: top;
    padding-bottom: 1em;
}

.genotype {
    padding-right: 1em;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    /* font-size: 20px; */
}

.mutations {
    text-align: left;
}
.mutations sup {
    font-size: 9px;
    padding: 0;
}

.pcnt90 {
    color: #0b0b0b;
}


.pcnt50 {
    color: #0088ff;
}

.pcnt10 {
    color: hwb(126 1% 18%);
}

.pcnt1 {
    color: #ff8000;

}
